# CodSoft Task 5 : Credit Card Fraud Detection

In [1]:
# Importig the libraries 

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, recall_score , classification_report

In [2]:
# loding the dataset 

credit_card_data = pd.read_csv('creditcard.csv')

In [3]:
# displaying the summary of the dataset

credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
# displaying informtion about the dataset

credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
# Checking the missing values 

credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
# separating the legit transaction from fraud transactions
# In this 0 indicates legit transactions and 1 indicates fraud trasactions 

credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [7]:
# separating the data 

legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [8]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [9]:
# Statistical info. of legit transactions

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [10]:
# Statistical info. of fraud transactions

fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [11]:
# comparing the values by grouping them together

credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [12]:
# Using sample() function. Total number of fradulent transaction are 492

legit_sample=legit.sample(n=492)

In [13]:
# concatenating 

new_data=pd.concat([legit_sample, fraud],axis=0)

In [14]:
# verifying and showing cancatenated data

new_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [15]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93786.154472,0.050635,0.072585,0.077917,0.003422,-0.124631,-0.034527,-0.068142,-0.020649,-0.015078,...,0.049288,-0.022248,0.017422,0.003355,0.010404,0.019760,-0.020663,-0.000608,0.000425,82.819959
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [16]:
# Spliting the data into Features and Targets and dropping unnecessary column if there are any in X

X=new_data.drop(columns='Class', axis=1)
Y=new_data['Class']

In [17]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
80018    58299.0 -0.693088  1.128408  1.282716  0.062977  0.017410 -0.779080
200919  133641.0 -0.613062  0.696200  1.499634 -0.086687  0.596941  1.138678
139350   83108.0  0.828952 -1.108716  0.784414  0.220755 -1.281297  0.165624
63080    50544.0 -0.601334  1.172203  1.636770  1.123101  0.361950  0.294057
42666    41191.0 -1.266568  0.711242  2.051534  1.339957 -0.366668 -0.243312
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
80018   0.540861  0.096487 -0.123457  ...  0.168508 -0.249612 -0.594985
200919  0.464616 -0.872070  0.488743  ... -0.252321  0.986289  0.760917
139350 -0.603935  0.249672  1.148041  ...  0.240748 -0.105859 -0.569524
63080   0.753862 -0.026369 -0.387869  ...  0.386241 -0.045164  0.510836
42666  -0.244431  0.605416 -0.749125  ...  0.114838  0.318512  0.649672
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
80018   0.086361  0.327155 -0.243411  0.088224  0.356916  0.174417    4.49
200919 -0.313493  0.183836 -0.066596 -0.584182 -0.218253 -0.295314   39.95
139350 -0.122416  0.057714  0.036960  0.929845 -0.082096  0.030638  195.96
63080  -0.199098  0.275528 -0.089837 -0.280663  0.380566  0.036650    4.99
42666  -0.169835  0.406152  0.191982 -0.112947  0.003276 -0.043025   27.20
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [18]:
print(Y)

80018     0
200919    0
139350    0
63080     0
42666     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [19]:
# Split the data into train and test 

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [20]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [21]:
# Logistic Regression model training 

model_lg=LogisticRegression()

In [22]:
# training the model with training data 

model_lg.fit(X_train, Y_train)

LogisticRegression()

# Evaluation Process Begins

In [23]:
# Accuracy on training data 

X_train_prediction=model_lg.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [24]:
print('Accuracy on training data :',training_data_accuracy )

Accuracy on training data : 0.9237611181702668

In [25]:
# accuracy on test data 

X_test_prediction = model_lg.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [26]:
print('Accuracy on test data :', test_data_accuracy)

Accuracy on test data : 0.9137055837563451

In [27]:
print (classification_report(Y_test , model_lg.predict(X_test)))

              precision    recall  f1-score   support

           0       0.87      0.98      0.92        99
           1       0.98      0.85      0.91        98

    accuracy                           0.91       197
   macro avg       0.92      0.91      0.91       197
weighted avg       0.92      0.91      0.91       197

## Successfully completed Credit Card Fraud Detection task